{% extends "BasicNavBar.html" %}
{% block body %}
<h2 class="text-center"> Get statistics on file of comments </h2>
<form action="" method="post"  >
			<div class="form-group">
			<label for="selectGraph">Select Level of Sentiment as being more or less polar </label>
			<select  class="form-control" id="selectGraph" name="graphSelection" value={{"request.form.graphSelection"}}>
  			<option  >Somewhat Negative</option>
  			<option>Very Negative</option>
  			<option>Somewhat Positive</option>
  			<option>Very positive Positive</option>
 			 </select>
			</div>
			<div class="form-group">
			<label for="selectFile">Select File</label>
			<input class="form-control" type="file" id="selectFile" name="fileUpload" value={{"request.form.fileUpload"}}>
			</div>
			 <button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
{% endblock %}